langchain-core
langchain-community
langchain-google-genai
langchain
python-dotenv
beautifulsoup4
sentence-transformers
chromadb
requests
pymupdf4llm
tavily-python
langchain-tavily
langchain-ollama
langchain-chroma
streamlit
fpdf2 
markdown